/* Elément généraux */
body
{
    margin: 0; padding: 0;
    margin: auto;
    font-family: 'Roboto';
}
/* element which appear into different parts of the body 
color */
$white: #FFFFFF ;
$grey-light: #eaeaea;
$grey-more-light: #f6f6f6 ;
$blue-magenta: #9356DC ; /* primary color */
$blue-magenta-light: #f5edff ;
$magenta-light: #FF79DA ; /* secondary color */
$green-cyan: #99E2D0 ; /* tertiary color */ 
$color-shadow: #d4d4d4 ;
$grey-dark: #7e7e7e ;
$color_footer: #353535 ;

.title_h2_index
{
    font-size: larger;
    margin: 0;
}
p, h2
{
    margin: 0;
}
header, #section_functioning, .title_h2_index, .box_restaurant
{
    max-width: 1440px;
}
/* formatting base button */
.button_page
{
    color: $white;
    border-radius: 50px;
    box-shadow: 5px 5px 5px $color-shadow;
    border: none;
    background: linear-gradient(to bottom, $magenta-light, $blue-magenta);
    transition-duration: 400ms;
    &:hover
    {
        opacity: 0.8;
        box-shadow: 10px 10px 5px $color-shadow;
        cursor: pointer;
    }
}    
/* header */
header
{
    max-width: 1440px;        
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    .fas.fa-arrow-left
    {
        color: $color_footer;
        font-size: large;
        padding-top: 11px;
        margin-right: 50px;
    }
    h1
    {
        margin: 0;
        font-family: 'Shrikhand';
        font-size: 1.70em;
    }
}
/* body 
Section site presentation et research city and restaurant*/
#research_city
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $grey-light;
    height: 50px;
    font-size: smaller;
    #zone_research_city
    {
        font-weight: bold;
        margin-left: 20px;
    }
}
#information_site_restaurant
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $grey-more-light;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 50px;
    .title_h2_index
    {
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 20px;
    }
    #text_information
    {
        margin-bottom: 30px;
    }    
    #button_research_restaurant
    {
        height: 50px;
        width: 200px;
        font-weight: bold;
    }
}
#section_functioning
{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 20px;
    .title_h2_index
    {
        margin-bottom: 30px;
    }
}
.box_functioning
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin-bottom: 25px;
    width: calc(100% - 20px);
    background-color: $grey-more-light;
    border-radius: 25px;
    box-shadow: 5px 5px 5px $color-shadow;
    .number_functioning
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        color: $white ;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: $blue-magenta;
        position: absolute;
        left: 12px;
    }
    .fas
    {
        color: $grey-dark;
    }
    .information_functioning
    {
        font-size: smaller;
        font-weight: bold;
        margin-left: 25px;
    }
    &:hover
    {
        background-color: $blue-magenta-light;
        .fas
        {
            color: $blue-magenta;
        }
    }
}
/* .box_number_one
{
    animation: animation_box_number_one 1s infinite ;
}
@keyframes animation_box_number_one{
    100%
    {
        background-color: $blue-magenta-light;
    }
} */
#listing_restaurants
{                
    padding-left: 20px;
    background-color: $grey-more-light;
    margin-bottom: 70px;
    .title_h2_index
    {
        padding-top: 60px;
        margin-bottom: 30px;
    }
}
.box_restaurant
{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px $color-shadow;
}
.box_img_link
{    
    height: 180px;
    .img_restaurant
    {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: calc(100% - 15px);
    }
}

.information_restaurant_heart
{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .name_localisation
    {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-bottom: 15px;        
        .name_restaurant
        {
            margin: 0;
            font-size: large;
            margin-bottom: 3px;
        }
        .city_restaurant
        {
            font-size: medium;
        }
    }
    .far.fa-heart
    {
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-size: x-large;
        &:hover
        {
            cursor: pointer;
        }
        &:active
        {
            background: linear-gradient(to bottom, $magenta-light, $blue-magenta);
        }
    }
}
a:hover, a:link, a:visited
{
    text-decoration: none;
    outline: none;
    color: black;
}
footer
{
    background-color: $color_footer;
}    
#footer_limit
{
    max-width: 1440px;
    padding: 20px ;
    color: $white;
    #name_logo_footer
    {
    margin: 0;
    font-family: 'Shrikhand';    
    font-weight: unset;
    margin-bottom: 20px;
    font-size: medium;
    }
    .box_icon_txt, .box_only_txt
    {
        display: flex;
        font-size: smaller;
        margin-bottom: 10px;
        p
        {
            padding-left: 10px;
        }
    }
    .fa-utensils, .fa-hands-helping
    {
       font-size: small;
    }
    a:link, a:visited
    {
        color: white;
    }
}

/* page menu elements */ 
.box_img_menu
{
    position: absolute;
}
.img_page_menu
{
    object-fit: cover;
    height: 275px;
    width: 100%;
}
.name_restaurant_heart, .appetizer_menu, .main_course_menu, .dessert_menu
{
    min-width: 320px;
    max-width: 1440px;
}
.section_choice_menu
{
    
    background-color: $grey-more-light;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 230px ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.name_restaurant_heart
{
    padding-top: 30px;
    position: relative;
    .name_restaurant_menu
    {
        font-family: 'shrikhand';
        font-size: 1.70em;
        margin-left: 20px;
    }
    .far.fa-heart
    {
        position: absolute;
        right: 4%;
        font-size: x-large;
    }
} 
.appetizer_menu, .main_course_menu, .dessert_menu
{
    margin-top: 30px;
}
.appetizer_menu
{
    opacity: 0;
    animation: fadeIn_menu ease 3s forwards 0.5s;
}
.main_course_menu
{
    opacity: 0;
    animation: fadeIn_menu ease 3s forwards 1.5s;
}
.dessert_menu
{
    opacity: 0;
    animation: fadeIn_menu ease 3s forwards 2.5s;
}
/* keyframes appear differents parts of repas */ 
@keyframes fadeIn_menu{
    0%
    {
        opacity: 0;
        transform: translateY(20px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px)
    }
}
.title_repas
{
    margin-left: 20px ;
    border-bottom: 2px $green-cyan solid;
    padding-bottom: 10px;
    padding-right: 0;
}
.box_repas
{
    background-color: $white;
    margin-top: 15px ;
    box-shadow: 5px 5px 5px $color-shadow;
    border-radius: 15px;
    margin-left: 15px;
    width: calc(100% - 30px);
    position: relative;
    .name_repas 
    {
        margin: 0;
        font-size: medium;
        padding: 12px 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .additional_information
    {
        font-size: smaller;
        padding: 0 0 12px 10px;
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .price
    {
        font-size: smaller;
        font-weight: bold;
        position: absolute;
        bottom: 12px;
        right: 20px;
    }
    &:hover
    {
        .box_choice_food
        {
            border: none;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 73px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: $green-cyan;
            opacity: 1;
            animation: appear_box_choice 0.4s forwards;           
        }           
        .fas.fa-check-circle
        {
            color: $white;
            display: flex;
            justify-content: center;
            position: relative;
            top: 40%;
            animation: circle_rotate 0.4s forwards;
        }
        .price
        {
            animation: price_translation 0.4s forwards;
        }
       .name_repas, .additional_information
        {
            animation: reduction_box 0.4s forwards;
        }    
    }
    .fas.fa-check-circle
    {
        display: none;
    }
    /* keyframes animation appear check box in menu food */
    @keyframes appear_box_choice {
        0%
        {
            width: 0;
        }
        100%
        {
            width: 63px;
            opacity: 1;                
        }
    }
    @keyframes price_translation {
        0%
        {
            transform: translateX(0);
        }
        100%
        {
            transform: translateX(-63px);
        }
    }
    @keyframes circle_rotate {
        0%
        {
            transform: rotate(0) scale(1.40);
        }
        100%
        {
            transform: rotate(360deg) scale(1.40);
        }
    }
    @keyframes reduction_box {
        100%
        {
            width: 58%;
        }
    }
}
.box_command
{
    display: flex;
    justify-content: center;
    #button_command
    {
        margin: 40px 0 60px 0;
        height: 55px;
        width: 185px;
    }
}
.footer_menu
{
    position: relative;
    top: 230px;
}