/* color */
$white: #FFFFFF ;
$grey-light: #eaeaea;
$grey-more-light: #f6f6f6 ;
$blue-magenta: #9356DC ; /* primary color */
$blue-magenta-light: #f5edff ;
$magenta-light: #FF79DA ; /* secondary color */
$green-cyan: #99E2D0 ; /* tertiary color */ 
$color-shadow: #d4d4d4 ;
$grey-dark: #7e7e7e ;
$color_footer: #353535 ;